*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}

body{
    background-color:  #181F2B;
  
}

#container{
    display: grid;
    grid-template-rows: 450px 200px 1100px 580px 700px ;
    grid-template-areas: 'top'
                        'second'
                        'real-second'
                        'third'
                        'fourth';
                        gap: 60px;
    
}

.top{
    grid-area: top;
    display: grid;
    gap: 30px;
    grid-template-rows: 70px 560px;
    grid-template-areas: 'top-links'
                            'image_words';
                            background-color: hsl(217, 28%, 15%);
                            background-image: url('imgs/bg-curvy-mobile.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                          background-position: bottom;

                         

}

.top-links{
    grid-area: top-links;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.small-logo{
    height: 1.5rem;
    margin-left: 1rem;
}



.top-right-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    margin-right: 1rem;
}

.top-right-links li{
    color: rgba(255, 255, 255, 0.493);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.top-right-links li:hover{
 color: #fff;
 text-decoration: underline;
 cursor: pointer;
}
.image_words{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}



.intro_image{
    width: 20rem;
    margin-bottom: 2rem;
}

.second{
    grid-area: second;
}

.image_words h1{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 2rem;
}

.image_words p{
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.top_button{
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: rgb(9,211,231);
    background: linear-gradient(90deg, rgba(9,211,231,0.8687850140056023) 25%, rgba(35,174,194,0.8435749299719888) 47%);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    width: 15rem;
    font-weight: bold;
}

.real-second{
    grid-area: real-second;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.parts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 5rem;
}

.parts h2{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.parts p{
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
}

.third{
    grid-area: third;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle_image{
    width: 20rem;
}

.middle_words h2{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
}

.middle_words p{
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2.5rem;
    padding-right: 2rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: left;
    margin-top: 1rem;
}

#greentext_arrow{
 width: fit-content;
    padding-left:2.5rem ;
    margin-top: 1rem;

}

#green_link{
    text-decoration: none;
    color: #62E0D9;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    border-bottom: 1px solid #62E0D9;
    padding-bottom: 0.4rem;
    position: relative;
 

  
    
}

#green_icon{
    position: relative;
    top: 0.3rem;
}

.fourth{
    grid-area:fourth;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cubes{
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 28%, 15%);
    width: 18rem;
    border-radius: 0.8rem;
    padding: 1.4rem;
    margin-bottom: 2rem;
}

.cubes p{
 color: #fff;
 font-size: 0.7rem;
 font-family: 'Open Sans', sans-serif;
 line-height: 1.2rem;
}

.imgandname{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.nameandtitle{
    display: flex;
    flex-direction: column;
}

.profile{
    height: 1.5rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

.cubes .persontitle{
    font-size: 0.8rem;
    font-weight: bold;
}

.cubes .job{
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.589);
}




@media screen and (min-width: 768px){




    #container{
        display: grid;
        grid-template-rows: 95vh 600px;
        grid-template-areas: 'top'
                            'second';

        
    }

    .top{
        background-image: url('imgs/bg-curvy-desktop.svg');
        grid-template-rows: 150px 700px;
        grid-template-areas: 'top-links'
                                'image_words';
        background-size: 100%;
        background-position: bottom;
        gap: 0px;
      
        
        
    }

    .small-logo{
        height: 2.5rem;
        margin-left: 3rem;
    }


    .top-right-links{
        width: 250px;
        margin-right: 3rem;
    }

    .top-right-links li{
        font-size: 0.9rem;
    }

    .intro_image{
        width: 50rem;
    }
}