*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}

body{
    background-color:  #181F2B;
  
}

#container{
    display: grid;
    grid-template-rows: 450px 300px 1150px 630px 700px 300px 700px ;
    grid-template-areas: 'top'
                        'second'
                        'real-second'
                        'third'
                        'fourth'
                        'fifth'
                        'sixth';
                        
                        
                      
    
}

.top{
    grid-area: top;
    display: grid;
    gap: 30px;
    grid-template-rows: 70px 560px;
    grid-template-areas: 'top-links'
                            'image_words';
                            background-color: hsl(217, 28%, 15%);
                            background-image: url('imgs/bg-curvy-mobile.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                          background-position: bottom;



                         

}

.top-links{
    grid-area: top-links;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.small-logo{
    height: 1.5rem;
    margin-left: 1rem;
}



.top-right-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    margin-right: 1rem;
}

.top-right-links li{
    color: rgba(255, 255, 255, 0.493);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.top-right-links li:hover{
 color: #fff;
 text-decoration: underline;
 cursor: pointer;
}
.image_words{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}



.intro_image{
    width: 20rem;
    margin-bottom: 2rem;
}

.second{
    grid-area: second;
}

.image_words h1{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 2rem;
}

.image_words p{
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.top_button{
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: rgb(9,211,231);
    background: linear-gradient(90deg, rgba(9,211,231,0.8687850140056023) 25%, rgba(35,174,194,0.8435749299719888) 47%);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    width: 15rem;
    font-weight: bold;
}

.real-second{
    grid-area: real-second;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.parts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 5rem;
    max-width: 425px;
}

.parts h2{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.parts p{
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
}

.third{
    grid-area: third;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.middle_image{
    width: 20rem;
}

.middle_words h2{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
}

.middle_words p{
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2.5rem;
    padding-right: 2rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: left;
    margin-top: 1rem;
    max-width: 425px;
}

#greentext_arrow{
 width: fit-content;
    padding-left:2.5rem ;
    margin-top: 1rem;

}

#green_link{
    text-decoration: none;
    color: #62E0D9;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    border-bottom: 1px solid #62E0D9;
    padding-bottom: 0.4rem;
    position: relative;
 

  
    
}

#green_icon{
    position: relative;
    top: 0.3rem;
}

.fourth{
    grid-area:fourth;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cubes{
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 28%, 15%);
    width: 18rem;
    border-radius: 0.8rem;
    padding: 1.4rem;
    margin-bottom: 2rem;
}

.cubes p{
 color: #fff;
 font-size: 0.7rem;
 font-family: 'Open Sans', sans-serif;
 line-height: 1.2rem;
}

.imgandname{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.nameandtitle{
    display: flex;
    flex-direction: column;
}

.profile{
    height: 1.5rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

.cubes .persontitle{
    font-size: 0.8rem;
    font-weight: bold;
}

.cubes .job{
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.589);
}

.quote{
    height: 1.3rem;
    position: absolute;
    left: 0.2rem;
    top: -1rem;
}

.cube1{
    position: relative;
}
.lastBrick{
    background-color: #1B2330;
   width: 320px;
   color: #fff;
   position: absolute;
   bottom: -15rem;
   text-align: center;
   border-radius: 1rem;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   -webkit-box-shadow: 1px 5px 16px 2px rgba(0,0,0,0.69); 
box-shadow: 1px 5px 16px 2px rgba(0,0,0,0.69);
  
}

.lastBrick h3{
font-family:  'Open Sans', sans-serif; 
font-weight: bold;
margin-bottom: 1rem;
margin-top: 1rem;
}
.lastBrick p{
    font-family:  'Open Sans', sans-serif;
    font-size: 0.9rem;
    width: 95%;
    line-height: 1.2rem;
}

.infograb{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth{
    grid-area: fifth; 
    background-color: #0B1524;
    
}

.sixth{
    grid-area: sixth; 
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #0B1524;
    
}

.bottomfacts{
    display: flex;
    flex-direction: column;
}



input{
    width: 15rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   border-radius: 1rem;
   margin-top: 2rem;
   border: 1px solid #fff;
   padding-left: 1rem;
}

button{
    width: 15rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   border-radius: 1rem;
   margin-top: 2rem;
   color: #fff;
   background-color: rgb(54, 190, 190);
   border: 1px solid rgb(54, 190, 190) ;
}

.fact{
    display: flex;
    flex-direction: row;
    align-items: top;
    color: #fff;
    margin-bottom: 2rem;
}

.bottomlogo{
    width: 7rem;
}

.icon{
    height: 1.2rem;
    margin-right: 1.5rem;
    
}

.logo{
  margin-bottom: 2rem;
  
}

.writing{
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: 'Open Sans', sans-serif;
}

.btmlinks{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.btmlinks a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
}




@media screen and (min-width: 768px){




    #container{
        display: grid;
        grid-template-rows: 95vh 600px;
        grid-template-areas: 'top'
                            'second';

        
    }

    .top{
        background-image: url('imgs/bg-curvy-desktop.svg');
        grid-template-rows: 150px 700px;
        grid-template-areas: 'top-links'
                                'image_words';
        background-size: 100%;
        background-position: bottom;
        gap: 0px;
      
        
        
    }

    .small-logo{
        height: 2.5rem;
        margin-left: 3rem;
    }


    .top-right-links{
        width: 250px;
        margin-right: 3rem;
    }

    .top-right-links li{
        font-size: 0.9rem;
    }

    .intro_image{
        width: 50rem;
    }
}